{% extends "base.html" %}
{% block title %} {{ pokemon | capfirst }} {% endblock title %}
{% block content %}
    <p><strong>{{ pokemon | capfirst }}</strong></p>
    <p><strong>Detalles</strong></p>
        <ul>
            <li>Nombre: {{ pokemon.name }} </li>
            <li>Tipo: {{ pokemon.get_type_display }} </li>
            <li>Peso: {{ pokemon.weight }} kg. </li>
            <li>Altura: {{ pokemon.height }} cm. </li>
            <li>Entrenador: {{pokemon.trainer}}</li>
        </ul>
{% endblock content %}